<a href="https://colab.research.google.com/github/NahidurRahaman/Python_Basic_To_Advance/blob/main/bulitin_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Data Science!")

Data Science!

In [2]:
#len()
my_list = [1, 2, 3, 4, 5]
length = len(my_list)

In [3]:
length

5

In [4]:
user_input = input("Enter something: ")

Enter something: 455

In [5]:
#typpe()
x = 5
type_of_x = type(x)
type_of_x

int

In [6]:
#int(), float(), str():
num_str = "42"
num_int = int(num_str)
num_int

42

In [7]:
float(num_int)

42.0

In [8]:
#range():
numbers = list(range(1, 6))  # creates a list [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [9]:
#sum(): Returns the sum of all elements in an iterable.
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
total

15

In [10]:
#max(), min(): Returns the maximum or minimum value from an iterable.
numbers = [3, 1, 4, 1, 5, 9, 2]
max_val = max(numbers)
min_val = min(numbers)

In [12]:
max_val

9

In [13]:
min_val

1

In [14]:
#abs(): Returns the absolute value of a number.
absolute_value = abs(-10)
absolute_value

10

In [15]:
#round(): Rounds a floating-point number to a specified number of decimals.
rounded_num = round(3.14159, 2)  # rounds to 2 decimal places
rounded_num

3.14

In [17]:
#sorted(): Returns a new sorted list from the elements of an iterable.
numbers = [3, 1, 4, 1, 5, 9, 2]
sorted_numbers = sorted(numbers)
sorted_numbers

[1, 1, 2, 3, 4, 5, 9]

In [18]:
#any(), all(): Returns True if any or all elements in an iterable are true.
bool_list = [True, False, True, True, False]
any_true = any(bool_list)

In [19]:
any_true

True

In [20]:
#str.join(): Joins elements of an iterable with a string as a separator.
my_list = ["apple", "banana", "orange"]
joined_str = " ; ".join(my_list)
joined_str

'apple ; banana ; orange'

In [21]:
#str.lower(), str.upper(): Converts a string to lowercase or uppercase.
my_string = "Hello, World!"
lower_case = my_string.lower()
upper_case = my_string.upper()

In [22]:
lower_case

'hello, world!'

In [23]:
upper_case

'HELLO, WORLD!'

In [24]:
#list(), tuple(): Converts an iterable to a list or tuple.
my_tuple = (1, 2, 3)
tuple_to_list = list(my_tuple)
tuple_to_list

[1, 2, 3]

In [25]:
tuple(tuple_to_list)

(1, 2, 3)

In [26]:
#dict(): Creates a dictionary.
my_dict = dict(name="John", age=25)
my_dict

{'name': 'John', 'age': 25}

In [27]:
my_dict.keys()

dict_keys(['name', 'age'])

In [28]:
my_dict.values()

dict_values(['John', 25])

In [29]:
#set(): Creates a set.
my_set = set([1, 2, 3, 3, 4])
my_set

{1, 2, 3, 4}

In [30]:
#enumerate(): Returns tuples with the index and corresponding element.
my_list = ["a", "b", "c"]
for index, value in enumerate(my_list):
    print(index, value)

0 a
1 b
2 c

In [2]:
#zip(): Combines two or more iterables element-wise.
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 22]
zipped_data = zip(names, ages)

In [3]:
zipped_data

In [4]:
type(zipped_data)

zip

In [5]:
#reversed(): Returns a reverse iterator of a sequence.
my_list = [1, 2, 3]
reversed_list = list(reversed(my_list))
reversed_list

[3, 2, 1]

In [6]:
#sum() (with start argument): Returns the sum of an iterable with an optional starting value.
numbers = [1, 2, 3]
total = sum(numbers, 100)

In [7]:
total

106

In [8]:
23. #abs() (for complex numbers): Returns the magnitude of a complex number.
complex_num = 3 + 4j
magnitude = abs(complex_num)

In [9]:
magnitude

5.0

In [10]:
#slice(): Creates a slice object that can be used to slice sequences like lists and strings.
my_list = [1, 2, 3, 4, 5]
my_slice = slice(1, 4)
sliced_list = my_list[my_slice]
sliced_list

[2, 3, 4]

In [11]:
#chr(), ord() (extended usage): Handling Unicode characters and code points.
euro_symbol = chr(8364)  # returns '€'
code_point = ord('€')  # returns 8364

In [12]:
euro_symbol

'€'

In [13]:
code_point

8364

In [14]:
char = chr(65)
print(char)

A

In [15]:
code_point = ord('A')
print(code_point)  # Output: 65

65