<a href="https://colab.research.google.com/github/NahidurRahaman/Python_Basic_To_Advance/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
data = 'python'
for x in data:
    print(x,'x')

p x
y x
t x
h x
o x
n x

In [3]:
for x in range(len(data)):
    print(data[x])

p
y
t
h
o
n

In [4]:
data = 'i love data science so much'
for i in range(len(data)):
    print(data[i])

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [5]:

data = 'i love data science so much'
data = data.split()
for i in range(len(data)):
    print(data[i],i)

i 0
love 1
data 2
science 3
so 4
much 5

In [6]:

n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total+x
    #print(total,x)
print(total)

301

In [7]:
n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total+x
    print(total,x)
print('Total',total)

2 2
5 3
9 4
64 55
124 60
201 77
301 100
Total 301

In [8]:
for i in range(10):
    print('data science',i)

data science 0
data science 1
data science 2
data science 3
data science 4
data science 5
data science 6
data science 7
data science 8
data science 9

In [9]:
for i in range(5,10): #n-1
    print('data science',i)

data science 5
data science 6
data science 7
data science 8
data science 9

In [10]:
for i in range(5,10,2): # i = i+2
    print('data science',i)

data science 5
data science 7
data science 9

In [11]:
for i in range(100,50,-10): # i = i+2
    print('data science',i)

data science 100
data science 90
data science 80
data science 70
data science 60