<a href="https://colab.research.google.com/github/NahidurRahaman/Python_Basic_To_Advance/blob/main/nested_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
rows = 4
#outer loop
for x in range(1,rows+1):
    #inner loop
    for y in range(1,x+1):
        print('#', end=' ')
    print('')

#
# #
# # #
# # # #

In [2]:
num = [1,2,3,4]

#outer
for ele in num:
    #inner
    index=0
    while index<len(num):
        print(num[index], end=' ')
        index= index+1
    print('\n')

1 2 3 4

1 2 3 4

1 2 3 4

1 2 3 4