<a href="https://colab.research.google.com/github/NahidurRahaman/Python_Basic_To_Advance/blob/main/Parameters_Vs_Argumentsipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def add_num(x,y):
    result = x+y
    return result
add_num(10, 30)

40

In [2]:
def add_num(x,y):
    print(x)
add_num(10, 30)

10

In [3]:
def add_num(x,y):
    result = x+y
    return result
add_num(10, 30)

40

In [4]:
def personal(job, income):
    print(job)
    print(income)
personal('data scientist', 200000)

data scientist
200000

In [5]:
def personal(job, income):
    print('job = ',job)
    print('income =' ,income)
personal(income=200000, job='data scientist')

job =  data scientist
income = 200000

In [6]:
#Default argument
def personal(job, income=10000):
    print('job = ',job)

    print('income =' ,income)
personal('DATA SCIENTIST', 200000)

job =  DATA SCIENTIST
income = 200000

In [7]:
def add_num(*x):
    print(x)
    result = sum(x)
    return result

add_num(10, 30, 10, 1000,4000)

(10, 30, 10, 1000, 4000)

5050

In [8]:
def add_num(x, *y):
    print(x)
    print(y)

add_num(10, 30, 10, 1000,4000)

10
(30, 10, 1000, 4000)

In [9]:
def personal_data(name, *arg):
    print(name)
    print(arg)
    print(type(arg))

personal_data('Rashedul Alam Shakil', 'FAU','Erlangen')

Rashedul Alam Shakil
('FAU', 'Erlangen')
<class 'tuple'>

In [10]:
def personal_data(name, **arg):
    print(name)
    print(arg)
    print(type(arg))
personal_data('Rashedul Alam Shakil', vrsity = 'FAU', city = 'Erlangen')

Rashedul Alam Shakil
{'vrsity': 'FAU', 'city': 'Erlangen'}
<class 'dict'>