<a href="https://colab.research.google.com/github/NahidurRahaman/Python_Basic_To_Advance/blob/main/while_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i = 0
while (i<=10):
    print(i)
    i +=1 # i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [2]:
i = 0
while (i<=10):
    print(i,'study mart')
    i +=2

0 study mart
2 study mart
4 study mart
6 study mart
8 study mart
10 study mart

In [4]:
data = 'python'
index=0
while index<len(data):
    print(data[index])
    index = index+1

p
y
t
h
o
n

In [5]:
data = 'i love data science so much'
index=0
while index<len(data):
    print(data[index])
    index = index+1

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [6]:
data = 'i love data science so much'
data = data.split()
index=0
while index<len(data):
    print(data[index])
    index += 1

i
love
data
science
so
much

In [7]:
n = [2,3,4,55,60,77,100]
total = 0
index = 0
while(index<len(n)):
    total = total + n[index]
    print(index,total)
    index +=1

0 2
1 5
2 9
3 64
4 124
5 201
6 301

In [8]:
n = [2,3,4,55,60,77,100]
total = 0
index = 0
while(index<len(n)):
    total = total + n[index]
    #print(index,total)
    index +=1
print(total)

301